<html>
<title>Filtering</title>
<body>
<h1>Filtering restaurants</h1>
<form id='filter' method='POST' action='/filter'>
    Name: <input type="text" name="rname"><br>
    Borough: <input type="text" name="borough"><br>
    Cuisine: <input type="text" name="cuisine"><br>
    Address:<br>
    <input type="text" name="building" placeholder="Building">,
    <input type="text" name="street" placeholder="Street"><br>
    <input type="submit" value="Submit">
    <button onclick="window.history.back()">Back to previous page</button>
</form>

</body>
</html>