<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>

<form action ="/login" method = "POST">
    User ID: <input type = "text" name = "usrid"><br>
    Password: <input type = "password" name = "usrpw"><br>
    <button type = "submit" value = "Login">Login</button>
</form>
Not yet Registered?<br>
<form action ="/registration" method="GET">
    <button onClick="res.redirect('/registration')" type="submit" >Register</button>
</form>
</body>
</html>